<!DOCTYPE html>

<html>
    <head>
        <title>Create a new season</title>
    </head>

    <body>
        <header>
            <h1>Create a new season</h1>
        </header>


        <section>
        
            <form action="{% url 'seasonplanner:create' %}" method="post">
            {% csrf_token %}
                <dl>
                    <dt><label for="name">Season Name</label></dt>
                    <dd><input type="text" name="name" id="name"></dd>
                    
                    <dt><label for="startdate">Start Date</label></dt>
                    <dd><input type="date" value="{{ today }}" name=startdate" id="startdate"></dd>
                    
                    <dt><label for="weeks">Length of Season</label></dt>
                    <dd><input type="number"  min="4" max="52" step="1" name="weeks" id="weeks"></dd>
                    
                    <dt><input type="submit" value="Create" id="Create"></dd>
                </dl>
            </form>

        </section>

    </body>

</html>
